.debug header{
  background-color: red;
}

.debug footer{
  background-color: green;

}

.debug #central{
  background-color: yellow;
}

.debug .disco{
  background-color: purple;
  height: 300px;
}

.debug aside{
  background-color: blue;
}

.debug header #upgrade{
  height: 50px;
  width: 200px;
  background-color: green;
}

.row{
  margin: 0;
}

[class*="col-"]{
  padding: 0;
}

#up{
  display: flex;
}

main{
  width: calc(100vw - 200px);
}

aside{
  width: 200px;
  height: calc(100vh - 100px);
}

header,
footer{
  height: 100px;
}

main{
  height: calc(100vh - 100px);
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#central{
  overflow-y: auto;
  height: calc(100vh - 200px);
}

#central .dischi{
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
}

#central .disco{
  margin: 10px;

  flex-shrink: 1;
  flex-basis: 200px;
}

@media all and (max-width: 767px){
  aside{
    width: 50px;
  }

  main{
    width: calc(100vw - 50px);
  }

}
